<%- include("./partials/head.ejs") %>
<%- include("./homepage.ejs") %>
    <!--====form section start====-->
    <div class="container">
        <div class="user-detail">
            <h2>Edit User Data</h2>
            <form action="/users/edit/<%=users.id%>" method="POST">
                <label class="form-label" >Full Name</label>
                <input class="form-control" type="text" value="<%=users.name %>" name="name" required>
                <label class="form-label">Email Address</label>
                <input class="form-control" type="email" value="<%=users.email %>" name="email" required>
                <label class="form-label"></label>City</label>
                <input class="form-control" type="text" value="<%=users.city %>" name="city" required>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

<%- include("./partials/foot.ejs") %>  